{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{book.name}}</h2>
                    <p>Автор: {{book.author}}</p>
                    <p>Дата публикации:
                        <a href="{% url "books_date" date_=book.pub_date %}">{{ book.pub_date }}</a>
                    </p>
                </div>
            {% endfor %}
        </div>
        <div>
            {% if previous_date %}
                <a class="btn btn-primary" href="{% url "books_date" date_=previous_date %}">
                    {{ previous_date }}<<
                </a>
            {% endif %}
            {% if next_date %}
                <a class="btn btn-primary" href="{% url "books_date" date_=next_date %}">
                    >>{{  next_date }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}